<a href="https://colab.research.google.com/github/rwasim10/rwasim10/blob/main/class4_string_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = "Pakistan zindabad"
print(type(a))
print(type(b))

In [3]:
name = "Syed Rohaan"
print(name.count("a"))

2

In [2]:
name = "rohan"
print(len(name))

5

In [ ]:
name = "Syed Rohaan Waseem" #

In [5]:
txt = "My name is stale"

x = txt.encode()
print(x)

b'My name is stale'

In [ ]:
txt = "My name stale"

In [7]:
name = "Rohaan"
print(name.endswith("n"))

True

In [8]:
card = """
NED UNIVERSITY
BATCH 5
CLASS\tPYTHON
NAME:\tRohaan
"""

print(card.expandtabs(30))

NED UNIVERSITY
BATCH 5
CLASS                         PYTHON
NAME:                         Rohaan

In [9]:
name = "Syed Rohaan Rohaan Rohaan"
name.replace("Syed", "Aslam", -1 )

'Aslam Rohaan Rohaan Rohaan'