<a href="https://colab.research.google.com/github/rwasim10/rwasim10/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class 5 DS Batch V

# List Data Type

In [3]:
s1_name = "Rohaan"
s2_name = "Sherry"
s3_name = "ali"

In [5]:
print(s1_name)
print(s2_name)
print(s3_name)

Rohaan
Sherry
ali

SyntaxError: ignored

syntax

[element1, element2, element3, ...]

In [12]:
name = ["Rohaan", "Sherry", "Ali"]
names

NameError: ignored

##Extract Value from iterative data type
Syntax: '''

In [13]:
names1 = input("please insert with ',' seprated: ")

names1.split(",")

please insert with ',' seprated: Rohaan, sherry, Ali

['Rohaan', ' sherry', ' Ali']

In [14]:
# ->        0           1        3
names = ["Rohaan" , "Sherry" , "Ali"]
# <-        -3         -2        -1
print(names[1])
print(names[-3])

Sherry
Rohaan

#slicing on *list*
syntax: '''List_variable[starts:end:step]'''
* start = this number will be included
* end = excluded end-1
*step = sequence/gap