<a href="https://colab.research.google.com/github/rwasim10/rwasim10/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class 5 DS Batch V

# List Data Type

In [ ]:
s1_name = "Rohaan"
s2_name = "Sherry"
s3_name = "ali"

In [ ]:
print(s1_name)
print(s2_name)
print(s3_name)

Rohaan
Sherry
ali

SyntaxError: ignored

syntax

[element1, element2, element3, ...]

In [ ]:
name = ["Rohaan", "Sherry", "Ali"]
names

NameError: ignored

##Extract Value from iterative data type
Syntax: '''

In [ ]:
names1 = input("please insert with ',' seprated: ")

names1.split(",")

please insert with ',' seprated: Rohaan, sherry, Ali

['Rohaan', ' sherry', ' Ali']

In [ ]:
# ->        0           1        3
names = ["Rohaan" , "Sherry" , "Ali"]
# <-        -3         -2        -1
print(names[1])
print(names[-3])

Sherry
Rohaan

#slicing on *list*
syntax: '''List_variable[starts:end:step]'''
* start = this number will be included
* end = excluded end-1
*step = sequence/gap

In [4]:
characters = list("abcdefghijklmnopqrstuvwxyz")
print(characters)

counter = 0

while(counter < len(characters)):
  print(characters[counter])
  counter += 2

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
a
c
e
g
i
k
m
o
q
s
u
w
y

In [14]:
a = list(range(1,11))

print(a)
print(a[::])
print(a[::])
print(a[-7:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]

In [19]:
a = list(range(1,11))
print(a)
print(a[: -1])
print(a[-5:-10:-1])
print(a[-5:-2:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[6, 5, 4, 3, 2]
[6, 7, 8]

In [22]:
import numpy as np

a = np.arange(1,101).reshape(10,10).tolist()
a

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [25]:
a = list(range(1,11))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
for i in ['hamza','asif','ali']:
    print(i)

hamza
asif
ali

In [30]:
[i for i in dir(a) if "_" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [33]:
names = []
print (names)
names.append("Rohaan")
print(names)

[]
['Rohaan']

In [34]:
names

['Rohaan']

In [36]:
names.append(['111'])
print(names)

['Rohaan', ['111'], ['111']]

In [37]:
names.index("Rohaan")

0

In [39]:
names.insert(0,"Eman")
print(names)

['Eman', 'Eman', 'Rohaan', ['111'], ['111']]