# Python String Concatenation and Formatting Assignments

## Assignment 1: String Concatenation and Formatting

### Instructions:

#### 1. Create a variable `name` and assign your name to it.
#### 2. Create a variable `age` and assign your age to it.
#### 3. Create a variable `country` and assign your country of residence to it.
#### 4. Using the `+` operator, concatenate the variables to form a sentence in the following format: "My name is `<name>`, I am `<age>` years old, and I live in `<country>`."
#### 5. Print the concatenated sentence.

In [ ]:
name="Syed Rohaan" # My Name is
age=26 # I am age years old
country="Pakistan" # I Live in
residence="R-597 Block 9 Dastagir Society FB Area Karachi" # My address

In [48]:
message = "My Name is " + name + ", I am " + format(age) + " years old, and I live in "+ country

In [49]:
print(message)

My Name is Syed Rohaan, I am 26 years old, and I live in Pakistan

## Assignment 2: String Formatting using `.format()`

### Instructions:

#### 1. Create a variable `item` and assign a product name to it (e.g., "laptop", "book", "phone").
#### 2. Create a variable `price` and assign a price to the item.
#### 3. Create a variable `quantity` and assign a quantity value.
#### 4. Calculate the total cost using the formula: `total_cost = price * quantity`.
#### 5. Using the `.format()` method, create a formatted string: "I bought `<quantity>` `<item>`(s) at `<price>` each, for a total of $`<total_cost>`."
#### 6. Print the formatted string.

In [73]:
item = "laptop"
price = 45000
quantity = 24
total_cost = 45000 * quantity

In [77]:
message =  "I bought "+format(quantity)+ " " +item +" at "+format(price)+"/-"+" each, for a total of Rs: "+format(total_cost)+"/-"

In [78]:
print(message)

I bought 24 laptop at 45000/- each, for a total of Rs: 1080000/-

## Assignment 3: String Interpolation using `f''

### Instruction:

#### 1. Create a variable `city` and assign the name of a city.
#### 2. Create a variable `temperature` and assign a temperature value in Celsius.
#### 3. Using `f''` string interpolation, create a string: "The temperature in `<city>` is `<temperature>`°C."
#### 4. Print the interpolated string.

In [1]:
city="Karachi"

In [3]:
temperature= 28

In [7]:
print(f"The temperature in {city} is {temperature}°C.")

The temperature in Karachi is 28°C.

## Assignment 4: String Formatting using `%()

### Instructions:

#### 1. Create a variable `first_name` and assign your first name to it.
#### 2. Create a variable `last_name` and assign your last name to it.
#### 3. Create a variable `birth_year` and assign your birth year.
#### 4. Calculate your age using the formula: `age = current_year - birth_year`, where `current_year` is the current year.
#### 5. Using `%()` string formatting, create a string: "My name is %(first_name)s %(last_name)s. I am %(age)d years old."
#### 6. Print the formatted string.

In [9]:
first_name="Rohan"

In [10]:
last_name="Wasim"

In [11]:
birth_year=1997

In [12]:
age = 2023 - birth_year

In [16]:
formatted_string = "My name is %(first_name)s %(last_name)s. I am %(age)d years old." % {
    "first_name": first_name,
    "last_name": last_name,
    "age": age
}

In [17]:
print(formatted_string)

My name is Rohan Wasim. I am 26 years old.

## **Assignment 5: Combining Formatting Methods**

### Instructions:

#### 1. Create a variable `product` and assign a product name.
#### 2. Create a variable `discount` and assign a discount percentage.
#### 3. Create a variable `original_price` and assign an original price.
#### 4. Calculate the discounted price using the formula: `discounted_price = original_price * (1 - discount / 100)`.
#### 5. Using any combination of string formatting methods (`+`, `.format()`, `f''`, `%()`), create a descriptive string with the product name, original price, discount percentage, and discounted price.
#### 6. Print the descriptive string.

product="Laptop"

In [20]:
discount=15

In [21]:
original_price=80000

In [22]:
discounted_price = original_price * (1 - discount / 100)

In [29]:
descriptive_string = "Product: " + product + "\n" \
                     "Original Price: Rs{:.2f}\n" \
                     "Discount Percentage: {}%\n" \
                     "Discounted Price: Rs{:.2f}".format(original_price, discount, discounted_price)

In [30]:
print(descriptive_string)

Product: Laptop
Original Price: Rs80000.00
Discount Percentage: 15%
Discounted Price: Rs68000.00